@charset "utf-8";
/*
    File Name: main.css
    Authors Name: Scott Montgomery and Nolan Knill
    Web Site Name: Survey Site
    File Description: This file contains the main css styling for all pages of the site
*/  


/* CSS related to the navbar */

#links {
  list-style-type: none;
  
}
#links li {
  display: inline-block;
}

/* CSS related to the header */
#footer {
  text-align: center;
}

/* CSS related to the header */
#header {
  text-align: center;
}

/* CSS related to messages */
#errors {
  color: red;
}
#success {
  color: green;
}

/* Css related to showing questions */
#question {
  list-style-type: none;
}

td {
  text-align: center;
}

.error {
  border:2px solid red;
}

.title {
  font-size:60px;
}

#links {
  font-size: 20px;
}
