/*
    File Name: main.css
    Authors Name: Scott Montgomery and Nolan Knill
    Web Site Name: Survey Site
    File Description: This file contains the main css styling for all pages of the site
*/  


/* CSS related to the navbar */

#links {
  list-style-type: none;
  
}
#links li {
  display: inline-block;
}

/* CSS related to the header */
#footer {
  text-align: center;
}

/* CSS related to the header */
#header {
  text-align: center;
}

/* CSS related to error messages */
#errors {
  color: red;
}