Requirements to Consider:

  User management - profile, registration, security, validation
  DONE - Users create their own surveys
  Survey templates, multiple choice, radio buttons, enter text, agree or disagree 
  External documentation specify how the application works, focus on functionality
  Allow anonymous users to take the survey or mail survey links to users
  Add start and end date to the survey


Tables:

  Users:
    id auto increment int not null
    name varchar
    email varchar
    password varchar
    date_created datetime
    date_updated datetime

  Surveys:
    id auto increment int not null
    name varachar
    creator_id -->user_id of creator 
    survey_type varchar
    start_date datetime
    end_date datetime
    date_created datetime
    date_updated datetime

  Questions:
    id auto increment int not null
    survey_id int 
    question_text varchar
    date_created datetime
    date_updated datetime

  Question-type:
    id auto increment int not null
    name varchar
    number_of_answers int 
    date_created datetime 
    date_updated datetime

  QuestionAnswers
    id auto increment int not null
    survey_id (possibly not needed due to question_id field) int
    question_id int
    answer_number int --> possibly not needed. order by id? 
    answer_text varchar
    date_created datetime
    date_modified datetime

  UserAnswers 
    id int 
    user_id int 
    survey_id (possibly not needed due to question_id field) int 
    question_id int 
    answer_text varchar
    date_created datetime
    date_modified datetime


Pages We Will Need to Create

- Create survey create_survey.php
- Add questions / answers to survey add_question_to_survey.php
- View survey (load the entire survey) survey.php?survey_id=12
  Users: 
    View your profile profile.php
    Change your profile details edit_profile.php
    View the surveys you have created my_surveys.php  
      Surveys:
        View share link for your survey 
        Update the start / end date of a survey edit_survey.php
        View the results of a survey survey_details.php

If we are done early possible additional pages to add:
  - Share this survey with friends via email form. Facebook share functionality, Twitter? etc 
  - Graphs - highcharts?
  - Super admin:
        view all surveys on the site and statistics
        view all users on the site
  - Create email list, 


What if we ask the user how many questions the survey has when creating the initial instance of the survey?


TODO

Turn get survey into a function
Remove user_id from user_answers table / functions (since anonymous users will take survey.)
Make Date format function to extract and insert dates to the database